<h2>World Cup Final</h2>
<div class="stage">
    <wac-defs></wac-defs>
    <svg class="stage-prop" version="1.1" viewBox="0 0 300 150">
        <use xlink:href="#screen" x="10" y="10"/>
        <use xlink:href="#keyboard" x="0" y="140"/>
        <use xlink:href="#viewport" x="20" y="21"/>
        <use xlink:href="#smartphone" x="210" y="0"/>
    </svg>
    <div class="wall-clock stage-prop">
        <span class="digits minutes">21</span>
        <span class="colon">:</span>
        <span class="digits seconds">30</span>
    </div>
    <div class="stage-prop smartphone-viewport">
        <h3>Stats</h3>
        <table>
            <thead>
                <tr>
                    <th id="lego" class="headline left-aligned-headline lego" colspan="2" scope="col">Legoland</th>
                </tr>
                <tr>
                    <th id="disney" class="disney headline right-aligned-headline" colspan="2" scope="col">Disneyland</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th id="goals" class="headline" colspan="2" scope="colgroup">
                        <span class="category">Goals</span>
                    </th>
                </tr>
                <tr>
                    <td class="left-aligned-cell lego" headers="lego goals">2</td>
                    <td class="right-aligned-cell disney" headers="disney goals">1</td>
                </tr>
                <tr>
                    <th id="attempts" class="headline" colspan="2" scope="colgroup">
                        <span class="category">Attempts</span>
                    </th>
                </tr>
                <tr>
                    <td class="left-aligned-cell lego" headers="lego attempts">9</td>
                    <td class="right-aligned-cell disney" headers="disney attempts">4</td>
                </tr>
                <tr>
                    <th id="corners" class="headline" colspan="2" scope="colgroup">
                        <span class="category">Corners</span>
                    </th>
                </tr>
                <tr>
                    <td class="left-aligned-cell lego" headers="lego corners">3</td>
                    <td class="right-aligned-cell disney" headers="disney corners">0</td>
                </tr>
                <!-- <tr>
                    <th id="possession" class="headline" colspan="2" scope="colgroup">
                        <span class="category">Possession</span>
                    </th>
                </tr>
                <tr>
                    <td class="left-aligned-cell lego" headers="lego possession">40%</td>
                    <td class="right-aligned-cell disney" headers="disney possession">60%</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="game-clock stage-prop">
        <span class="digits minutes">15</span>
        <span class="colon">:</span>
        <span class="digits seconds">00</span>
    </div>
    <div class="home-team-score lego stage-prop">
        <div class="wrapper">
            <span class="digit">0</span>
        </div>
    </div>
    <div class="away-team-score disney stage-prop">
        <div class="wrapper">
            <span class="digit">1</span>
        </div>
    </div>
</div>
