<h2>Comparison to Ableton Link</h2>
<h3><a href="https://ableton.github.io/link">Ableton Link</a>:</h3>
<wac-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore -->&lbrace; beats, time, tempo &rbrace;<!-- htmlmin:ignore --></wac-prism
>
<h3>Timing Object:</h3>
<wac-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore -->&lbrace; position, timestamp, velocity &rbrace;<!-- htmlmin:ignore --></wac-prism
>
<p>The possibility to set an acceleration is missing in Ableton Link.</p>
