<h2>Comparison to Ableton Link</h2>
<h3><a href="https://ableton.github.io/link">Ableton Link</a>:</h3>
<wac-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore -->&#123; beats, time, tempo &#125;<!-- htmlmin:ignore --></wac-prism
>
<h3>Timing Object:</h3>
<wac-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore -->&#123; position, timestamp, velocity &#125;<!-- htmlmin:ignore --></wac-prism
>
<p>The possibility to set an acceleration is missing in Ableton Link.</p>
