<h2>Timing Object usage</h2>
<p>somewhere in your HTML ...</p>
<wac-prism language="html" ngPreserveWhitespaces><!-- htmlmin:ignore -->&lt;live-stream&gt;&lt;/live-stream&gt;
&lt;game-stats&gt;&lt;/game-stats&gt;<!-- htmlmin:ignore --></wac-prism>
<p>... meanwhile in your JavaScript ...</p>
<wac-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->const timingObject = new TimingObject();

querySelector('live-stream').timingSrc = timingObject;
querySelector('game-stats').timingSrc = timingObject;<!-- htmlmin:ignore --></wac-prism>
