<svg class="hidden" version="1.1">
    <defs>
        <g id="backdrop">
            <rect fill="#000" height="110" opacity="0.5" width="160" x="0" y="0"/>
        </g>
        <g id="keyboard">
            <path d="M 10 0 h 180 l 10 10 h -200 z" fill="#FFD"></path>
        </g>
        <g id="pause-button">
            <rect fill="#000" height="60" width="60" x="0" y="0"/>
            <line x1="20" x2="20" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10"/>
            <line x1="40" x2="40" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10"/>
        </g>
        <g id="play-button">
            <rect fill="#000" height="60" width="60" x="0" y="0"/>
            <line x1="20" x2="20" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10"/>
            <line x1="40" x2="40" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10"/>
        </g>
        <g id="screen">
            <path d="M 1 11 c 0 -5 5 -10 10 -10 h 158 c 5 0 10 5 10 10 v 118 h -178 z" fill="#000" stroke-width="2" stroke="#FFD"></path>
        </g>
        <g id="smartphone">
            <path d="M 1 11 c 0 -5 5 -10 10 -10 h 58 c 5 0 10 5 10 10 v 128 c 0 5 -5 10 -10 10 h -58 c -5 0 -10 -5 -10 -10 z" fill="#000" stroke-width="2" stroke="#FFD"></path>
            <rect fill="#FFF" height="130" width="60" x="10" y="10"/>
        </g>
        <g id="viewport">
            <rect fill="#6C6" height="110" width="160" x="0" y="0"/>
            <circle cx="80" cy="55" fill="none" r="20" stroke="#FFF" stroke-width="2"/>
            <circle cx="80" cy="55" fill="#FFF" r="2"/>
            <line x1="80" x2="80" y1="0" y2="110" stroke="#FFF" stroke-width="2"/>
        </g>
    </defs>
</svg>
