<h2>World Cup Final</h2>
<div class="stage">
    <wac-defs></wac-defs>
    <svg class="stage-prop" version="1.1" viewBox="0 0 300 150">
        <use xlink:href="#screen" x="10" y="10"/>
        <use xlink:href="#keyboard" x="0" y="140"/>
        <use xlink:href="#viewport" x="20" y="21"/>
    </svg>
    <div class="wall-clock stage-prop">
        <span class="digits minutes">{{ wallClock$ | async | date:'HH':'GMT' }}</span>
        <span class="colon">:</span>
        <span class="digits seconds">{{ wallClock$ | async | date:'mm' }}</span>
    </div>
    <div class="game-clock stage-prop">
        <span class="digits minutes">05</span>
        <span class="colon">:</span>
        <span class="digits seconds">00</span>
    </div>
    <div class="home-team-score lego stage-prop">
        <div class="wrapper">
            <span class="digit">0</span>
        </div>
    </div>
    <div class="away-team-score disney stage-prop">
        <div class="wrapper">
            <span class="digit">0</span>
        </div>
    </div>
    <svg class="stage-prop" version="1.1" viewBox="0 0 300 150">
        <use xlink:href="#backdrop" x="20" y="21">
            <animate attributeName="opacity" calcMode="spline" dur="1s" fill="freeze" keySplines="0 0 0 1" repeatCount="1" values="0;1"/>
        </use>
        <use xlink:href="#pause-button" x="70" y="46">
            <animate attributeName="opacity" calcMode="spline" dur="1s" fill="freeze" keySplines="0 0 0 1" repeatCount="1" values="0;1"/>
        </use>
    </svg>
</div>
